<h1 style="color:green;">Waste Analytics: Average Weekly Waste Count</h1>
<div>
	
    <div class="span8 progress progress-striped active"><div id="bar" class="bar" style="width: 50%;"></div> <%= @counter.inspect %></div>
	<%= link_to '<button type="button">View Graph Visualizations</button>'.html_safe, graphs_show_path %>
	<%= link_to '<button type="button">Waste Management Tips!</button>'.html_safe, counter_tips_path %>
</div>
