<h1 style="color:green;">Waste Analytics: Monthly Trend</h1>
<div id="chartContainer"><%= @chart.render() %></div>

<div id="pieContainer"><%= @pie.render() %></div>
<div id="lineContainer"><%= @pie.render() %></div>
