// Place all the styles related to the Counter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-title h1 {
	left-padding: 2px;
}

.container {
	left-padding: 2px;
	right-padding: 2px;
}